@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(circle,  cornsilk,rgba(56, 218, 185, 0.268),rgb(189, 227, 226)) !important;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-6xl text-center my-5;
  color: coral;
}

h2 {
  @apply text-3xl text-center my-5;
  color: rgb(127, 80, 255);
}


button{
  background-color: #3b82f6; /* Blue background */
  color: white; /* White text */
  padding: 0.5rem 1rem; /* Padding for size */
  border-radius: 0.375rem; /* Rounded corners */
  
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover{
  background-color: #1e40af;
}

/* Style both links and the button consistently */
.navbar-links li {
  margin-left: 2%;
}

.navbar-links a,
.navbar-links .button-drop {
  color: hsl(325, 89%, 38%);
  font-size: large;
  text-align: center;
  display: inline-block; /* Ensures consistent sizing */
}

.navbar-links a:hover,
.navbar-links .button-drop:hover {
  color: #9b7106 !important;
}

.button-drop {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.25rem; /* Matches text-xl */
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  z-index: 10;
  min-width: 120px;
}

.dropdown-menu-below {
  top: 100%;
  left: 0;
  margin-top: 5px;
}

.dropdown-menu li {
  list-style: none;
  margin: 5px 0;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
}

.hover-effect:hover {
  color: #9b7106;
}


.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
