/* PixelGrid.module.css */

.grid {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .pixel {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
  }
  
  .palette {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .colorOption {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .textcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers the grid vertically */
  }