/* Default button styles */
.default-button {
    background-color: #3b82f6; /* Blue background */
    color: white; /* White text */
    padding: 0.5rem 1rem; /* Padding for size */
    border-radius: 0.375rem; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    max-width:fit-content;
    margin: 0 auto
  }
  
  /* Hover effect */
  .default-button:hover {
    background-color: #1e40af; /* Darker blue on hover */
  }
  